
.btn-nav{
    background: transparent !important;
    border: 2px solid #000;
}

.bg-nav-dark {
    background-color: #000;
    opacity: 0.7;
}

.title-dropdown-header, .text-title, .text-lgpd {
    color: #FCC605;
}

.text-lgpd:hover {
    color: #d2d2d2;
}

.bg-dark-two {
    background: #0d0d0d;
}

.title {
    color: #fff;
}

.btn-about {
    border: 2px solid #FCC605;
    color: #fff;
}

.btn-about:hover {
    transition: 0.5s ease;
    border: none;
    background-color: #FCC605;
    color: #000;
}

.align {
    display: flex;
    align-items: center !important;
}

.bg-image-two {
    background-image: url('../img/image-smf/bg-services.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons {
    color: #FCC605;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}

.title-logo {
    font-size: 1.2rem;
}

.link-title {
    color: #FCC605;
}

.link-title:hover,
.link-title:focus {
  color: #d2d2d2 !important;

}

.btn-form {
background-color: #FCC605;
color: #000 !important;
}

.list-unstyled li a:hover, .widget a:hover, .link-inverse:hover {
    color: #FCC605 !important;
}


