.align {
    display: flex;
    align-items: center !important;
}

.text-slider {
    font-size: 1rem !important;
}

.title-logo {
    font-size: 1.2rem;
}

.card-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0 !important;
    border-radius: 10px !important;

}

.card-item img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.card-item p {
    text-align: justify;
}

